*{
    color:#F2EFE7;
}body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background: linear-gradient(135deg, #006A71, #9ACBD0);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.form-container {
    background-color: #9ACBD0;
    border-radius: 10px;
    padding: 20px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boton {
    width: 100%;
    padding: 12px;
    background-color: #006A71;
    border: none;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.boton:hover {
    background-color: #48A6A7;
    transform: scale(1.05);
}
.botoncito{
    width: 25%;
    background-color: #006A71;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 5px;
    height: fit-content;

}
form:has(input[value="Pendientes"]:checked) #lista li:has(input[type="checkbox"]:checked) {
    display: none;
}

form:has(input[value="Completadas"]:checked) #lista li:not(:has(input[type="checkbox"]:checked)) {
    display: none;
}

form:has(input[value="Todas"]:checked) #lista li {
    display: flex;
}